h1{
    text-align: center
}

h2{
    text-decoration: underline;
    color:red;
}

h3{
    font-style: italic;
}


p{
    text-align: justify;
    text-indent: 5em;
}

body{
	background-color: #FFFAFA;
}